.button-container{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.task-desc {
  white-space: nowrap;        /* keep everything on a single line */
  overflow: hidden;           /* hide overflowing text */
  text-overflow: ellipsis;    /* add "..." at the end */
  width: 200px;               /* adjust width to your flashcard */
}

.logout-btn{
  background-color:#dc3545;
  color:white;
  border:none;
  padding:8px 16px;
  border-radius:6px;
  cursor:pointer;
  font-weight:500;
}

.logout-btn:hover{
  background-color:#c82333;
}