<div class="register-wrapper">
<form class="register-form" [formGroup]="registerForm" (ngSubmit)="OnSubmit()">

    <h1 class="form-title">Create New User
        <span class="cancel-icon" (click)="goBack()">✕</span>
    </h1>

    <p class="remove-margin-btm">Email:</p>
    <input type="text" formControlName="Email"/>
    <div class="error" *ngIf="registerForm.get('Email')?.touched && registerForm.get('Email')?.invalid">
    Email is required
    </div>
    <p *ngIf="registerForm.get('Email')?.errors?.['serverError']" class="error">
    {{ registerForm.get('Email')?.errors?.['serverError'] }}
    </p>

    <p class="remove-margin-btm">Username:</p>
    <input type="text" formControlName="UserName"/>
    <p *ngIf="registerForm.get('UserName')?.errors?.['serverError']" class="error">
    {{ registerForm.get('UserName')?.errors?.['serverError'] }}
    </p>
    <div class="error" *ngIf="registerForm.get('UserName')?.touched && registerForm.get('UserName')?.invalid">
    Username is required
    </div>

    <p class="remove-margin-btm">Password:</p>
    <input type="text" formControlName="Password"/>
    <p *ngIf="registerForm.get('Password')?.errors?.['serverError']" class="error">
    {{ registerForm.get('Password')?.errors?.['serverError'] }}
    </p>
    <div class="error" *ngIf="registerForm.get('Password')?.touched && registerForm.get('Password')?.invalid">
    Password is required
    </div>

    <button type="submit">Submit</button>

    <p *ngIf="successMessage" class="success">{{successMessage}}</p>
    <p *ngIf="errorMessage" class="error">{{errorMessage}}</p>
</form>
</div>