<form [formGroup]="createTaskForm" (ngSubmit)="OnSubmit()">
    
    <input type="text" placeholder="name" formControlName="Name">
    <p *ngIf="createTaskForm.get('Name')?.errors?.['serverError']" style="color:red">
    {{ createTaskForm.get('Name')?.errors?.['serverError'] }}
    </p>
    <br>

    <input type="text-area" placeholder="description" formControlName="Description">
    <p *ngIf="createTaskForm.get('Description')?.errors?.['serverError']" style="color: red;">
    {{ createTaskForm.get('Description')?.errors?.['serverError'] }}
    </p>
    <br>

    <button type="submit">Create</button>

    <p *ngIf="successMessage" style="color: rgb(79, 227, 79);">{{successMessage}}</p>
    <p *ngIf="errorMessage" style="color: red;">{{errorMessage}}</p>
</form>