.edit-wrapper{
    background-color: rgb(220, 164, 220);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

.edit-form{
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 30px;
  background: white;
  border-radius: 8px;
  padding-top: 60px;
  position: relative;
}

.form-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #761069;
  color: rgb(236, 93, 217);
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 5px 0;
  text-align: center;
}

.cancel-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
}
.cancel-icon:hover {
  transform: translateY(-50%) scale(1.2);
}

.edit-form input,
.edit-form button ,
.edit-form select{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box; 
}

.edit-form button {
  background-color: #761069;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;      /* makes text bold */
  font-size: 15px;       /* slightly bigger */
  letter-spacing: 0.5px; /* improves readability */
  color: rgb(242, 124, 226);
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.remove-margin-btm{
    margin-bottom: 0px;
}

.success {
  color: rgb(79, 227, 79);
  font-weight: 500;
}