<form [formGroup]="editTaskForm" (ngSubmit)="OnSubmit()">
    
    <input type="text" placeholder="name" formControlName="Name">
    <p *ngIf="editTaskForm.get('Name')?.errors?.['serverError']" style="color:red">
    {{ editTaskForm.get('Name')?.errors?.['serverError'] }}
    </p>
    <br>

    <input type="text-area" placeholder="description" formControlName="Description">
    <p *ngIf="editTaskForm.get('Description')?.errors?.['serverError']" style="color:red">
    {{ editTaskForm.get('Description')?.errors?.['serverError'] }}
    </p>
    <br>

    <!-- <input type="text" placeholder="status" formControlName="Status"> -->
     <select formControlName="Status">
        <option value="Pending">Pending</option>
        <option value="InProgress">InProgress</option>
        <option value="Completed">Completed</option>
    </select>

    <button type="submit">Update</button>

    <p *ngIf="successMessage" style="color: rgb(79, 227, 79);">{{successMessage}}</p>
    <p *ngIf="errorMessage" style="color: red;">{{errorMessage}}</p>
</form>